

.tabs{
    display: flex;
    background-color: #FFFFFF;
    color: #4A4A4A;
    border-radius: 5px;
    overflow: hidden;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 50px;
        
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 12px;
        line-height: 20px;

        border: 1px solid #DFE5EC;
        box-sizing: border-box;

        @media (max-width: 750px) { 
            width: 140px;
        }
        @media (max-width: 436px) { 
            width: 120px;
            font-size: 10px;
        }
        @media (max-width: 372px){
            width: 100px;
            font-size: 8px;
            height: 30px;
        }
        
    }
    :hover{
        background: #2196F3;
        color: #FFFFFF;
        cursor: pointer;
        
        transition: color 0.5s;
        transition: background 0.5s;
    }

    .active{
        background: #2196F3;
        color: #FFFFFF;
    }
}