.button-show-more__wrapper{

    
    button{
        background: #2196F3;
        border: 0 #2196F3;
        border-radius: 5px;
        width: 100%;
        padding: 15px 20px;
        

        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    :hover { 
        cursor: url('./Cursor.svg')4 12, auto;
        transform: scale(1.1);
        transition: transform 0.5s; 
    }
}

