

.tabs{
    display: flex;
    background-color: #FFFFFF;
    color: #4A4A4A;
    border-radius: 5px;
    overflow: hidden;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 50px;
        
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 12px;
        line-height: 20px;

        border: 1px solid #DFE5EC;
        box-sizing: border-box;
        
    }
    :hover{
        background: #2196F3;
        color: #FFFFFF;
        cursor: url('./Cursor.svg')4 12, auto;
        
        transition: color 0.5s;
        transition: background 0.5s;
    }

    .active{
        background: #2196F3;
        color: #FFFFFF;
    }
}