

.app {
    
    

    background-color: #F3F7FA;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    

    .header {

        display: flex;
        justify-content: center;

        padding-bottom: 50px;
        height: 100%;

        .header__logo-wrapper{
            width: 60px;
            height: 60px;
        }
    }

    .main{
        padding: 0 100px;
    }
    .main__content{
        display: flex;
        justify-content: space-between;
    }
}