

.filters{
    background-color:#FFFFFF;
    color: #4A4A4A;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    

    div{
        
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 12px;
        line-height: 12px;

        padding: 20px;
    }

    ul{
        list-style-type: none;
        padding: 0 0 20px 0 ;
        margin: 0;
        

        li{
            font-size: 13px;
            line-height: 20px;
            color: #4A4A4A;
            padding: 10px 0 10px 20px;
            display: flex;
            align-items: center;
            
            
            .checkbox-input{
                position: absolute;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                
            }
            .checkbox-input:checked + .check-box{
                background-image: url('./check-on.svg');
            }
            .check-box{
                position: absolute;
                width: 20px;
                height: 20px;
                margin-left: -30px;
        
                background-image: url('./check-off.svg');
                background-repeat: no-repeat;
            }
            .checkbox-label{
                padding-left: 30px;
                
            }
        }

        :hover{
            background-color: #F1FCFF;;
            cursor: url('./Cursor.svg')4 12, auto;

            transition: background-color 0.5s;
        }
    }
    
}